*{
  text-decoration: none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
body{
    background:linear-gradient(#222, rgba(51, 141, 73, 0.467));
    height:100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    

}
body::after{
    content: '';
    clip-path:circle(40% at right 70%); 
    width: 100%;
    height:100%;
    background-color: red;
    position: absolute;
    z-index: -1;
}
ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 6px;
    font-weight: 800;
    font-size: 20px;
 

}
li:hover{
    color: rgb(160, 1, 1);
}
.lo{
    color: #880e0e;
    font-weight:800;
    font-size:40px;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    letter-spacing: 3px;
}
.cont{
    width: 80%;
    height:80%;
    background-color: rgba(0, 0, 0, 0.192);
    border-radius: 30px;
   
   
}
.font{
   width: auto;
    
}
p{
   font-size: 25px;
  font-weight: 400;
}
h2{
    font-weight: 700;
    font-size: 32px;
}
.pm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 90%;
    margin:-80px  auto;

}
img{
    
    height:330px ;
    width: auto;
    transform: translate(100px , 0);
    
  
}
button{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-radius: 15px;
    background:rgba(148, 6, 6, 0.986);
    transform: translate(150px , -20px);
}   